
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(licensed-image.jpg)
}

.contaner{
    border:2px solid rgba(239, 233, 233, 0.941);
    border-radius: 16px;
    color: rgb(255, 255, 255);
    width:420px;
    backdrop-filter: blur(10px);
}

h1{
    font-size: 36px;
    text-align: center;
}

.input-box{
    width: 100%;
    height: 50px;
    margin: 25px 0;
    padding: 20px;
   
   
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    border:2px solid rgb(255, 255, 255, .2);
    padding: 20px;
}

.input-box input::placeholder{
    color: aliceblue;
}

.remember-fogot{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 10px;
}

.remember-fogot a{
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
    
}

.remember-fogot a:hover{
    text-decoration: underline;
}

.boton{
    width: 50%;
    height: 45px;
    margin-left: 100px;
    margin-top: 30px;
    background: rgb(11, 61, 95);
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 40px;
}

.login-link{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.login-link a{
    text-decoration: none;
    color:white;
    font-size:15px;

}

.login-link a:hover{
    text-decoration: underline;
}

.social-media{
    justify-content: space-between;
    text-align: center;
    margin: 20px;    
}

 .social-media a{
    text-decoration: none;
    color: beige;
    font-size: 30px;
    margin: 10px;
 }